<p>
  membershipdetails works!
</p>
<div class="container">
  <div class="row">
      <table class="table table-bordered" >
          <thead class="thead-inverse">
          <tr>
              <th class="text-center">User ID</th>
              <th class="text-center">Details</th>
              
          </tr>
          </thead>
          <tbody>
           <tr *ngFor="let member of members">
              <td class="text-center" style="width: 15px;">{{member.user_id}}</td>
              <td class="text-center" style="width: 15px;">{{member.details}}</td>
           </tr>
          </tbody>
      </table>
  </div>
</div>